
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="description"/>
    <meta name="keywords" content="keywords"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" href="{{ ('img/favicon.ico') }}"/>
    <title>Plastic Green Power</title>
    <!-- styles-->
    <link rel="stylesheet" href="{{ ('css/styles.min.css') }}"/>
    <!--<link rel="stylesheet" href="{{ ('css/crowd.css') }}"/>-->
    <!-- web-font loader-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">

    <script>
        WebFontConfig = {
            google: {
                families: ['Hero:300,400,500,700', 'Permanent+Marker:400'],
            }
        }

        function font() {
            var wf = document.createElement('script')
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js'
            wf.type = 'text/javascript'
            wf.async = 'true'

            var s = document.getElementsByTagName('script')[0]
            s.parentNode.insertBefore(wf, s)
        }

        font()
    </script>
    <script type="text/javascript" src="https://downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script type="text/javascript">
        window.openMailchimpPopup = function() {
            window.dojoRequire(["mojo/signup-forms/Loader"], function(L) {
                L.start({
                    "baseUrl": "mc.us4.list-manage.com",
                    "uuid": "d7841a04ded611ef34b1a1b3c",
                    "lid": "94f690184e",
                    "uniqueMethods": true
                })
            })
            document.cookie = 'MCPopupClosed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
            document.cookie = 'MCPopupSubscribed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
        }
    </script>
</head>
<body>
    <div class="page-wrapper">
        <!-- aside dropdown start-->
        <div class="aside-dropdown">
            <div class="aside-dropdown__inner">
                <span class="aside-dropdown__close">
                    <div class="icon-item__img">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                </span>
                <div class="aside-dropdown__item d-lg-none d-block">
                    <ul class="aside-menu">
                        <li class="aside-menu__item"><a class="aside-menu__link" <a href="/">Beranda</a>
                        <li class="aside-menu__item"><a class="aside-menu__link" href="mission"><span>Plastik Hijau</span></a></li>
                        <li class="aside-menu__item"><a class="aside-menu__link" href="projects"><span>Hitung Jejak Karbon</span></a></li>
                        <li class="aside-menu__item"><a class="aside-menu__link" href="news"><span>Berita</span></a></li>
                        <li class="aside-menu__item"><a class="aside-menu__link" href="contact"><span>Kontak</span></a></li>
                    </ul>
                </div>
                <div class="aside-dropdown__item">
                    <div class="aside-inner"><span class="aside-inner__title">Alamat</span>
                        <p class="aside-inner__link">Darussalam, Banda Aceh/p>
                    </div>
                    <div class="aside-inner"><span class="aside-inner__title">Email</span>
                        <a class="aside-inner__link" href="mailto:nurimasyithah@gmail.com">nurimasyithah@gmail.com</a>
                    </div>
                    <div class="aside-inner"><span class="aside-inner__title">Phone</span>
                        <a class="aside-inner__link" href="tel:+44 (0) 2039 055 483">+12 (3) 4567 890 123</a>
                    </div>
                    <ul class="aside-socials">
                        <li class="aside-socials__item"><a class="aside-socials__link" href="https://www.linkedin.com/in/nuri-masyithah-560663272/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li class="aside-socials__item"><a class="aside-socials__link aside-socials__link--active" href="https://twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li class="aside-socials__item"><a class="aside-socials__link" href="https://facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- aside dropdown end-->

        <!-- header start-->
        <header class="header header--front">
            <div class="container-fluid">
                <div class="row no-gutters justify-content-between">
                    <div class="col-auto d-flex align-items-center">
                        <div class="dropdown-trigger d-none">
                            <div class="dropdown-trigger__item"></div>
                        </div>
                        <div class="header-logo"><a class="header-logo__link" href="beranda"><img class="header-logo__img" src="img/svg/logo.svg"/></a></div>
                    </div>
                    <div class="col-auto">
                        <!-- main menu start-->
                        <nav>
                            <ul class="main-menu">
                                <li class="main-menu__item"><a class="main-menu__link" <a href="/">Beranda</a>
                                <li class="main-menu__item"><a class="main-menu__link" href="mission"><span>PLASTIK HIJAU</span></a></li>
                                <li class="main-menu__item"><a class="main-menu__link" href="projects"><span>Hitung Jejak Karbon</span></a></li>
                                <li class="main-menu__item"><a class="main-menu__link" href="news"><span>Berita</span></a></li>
                                <li class="main-menu__item main-menu__item--active"><a class="main-menu__link" href="contact"><span>Kontak</span></a></li>
                            </ul>
                        </nav>
                        <!-- main menu end-->
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <div class="dropdown-trigger d-block d-xs-none">
                            <div class="dropdown-trigger__item"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header end-->
        
        <main class="main">
            <section class="promo-primary">
                <picture>
                    <source srcset="{{ ('img/contact.jpg') }}" media="(min-width: 992px)"/><img class="img--bg" src="{{ ('img/contact.jpg') }}" alt="img"/>
                </picture>
                <div class="container">
                    <div class="row">
                        <div class="col-auto">
                            <div class="align-container">
                                <div class="align-container__item">
                                    <h1 class="promo-primary__title"><span>Kontak</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section contacts no-padding-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="form message-form" action="{{ route('contact.submit') }}" method="POST">
                                <div class="heading heading--primary">
                                    <h2 class="heading__title green-gradient-color"><span>Contact us</span></h2>
                                </div>
                                <span class="form__text">* The following info is required</span>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input class="form__field" type="text" name="name" placeholder="Name *" required="required">
                                    </div>
                                    <div class="col-lg-6">
                                        <input class="form__field" type="email" name="email" placeholder="Email *" required="required">
                                    </div>
                                    <div class="col-12">
                                        <textarea class="form__message form__field" name="message" placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="form__submit" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section contacts">
                <div class="container">
                    <div class="row offset-margin">
                        <div class="col-sm-6 col-lg-4">
                            <div class="icon-item">
                                <div class="icon-item__img">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="icon-item__text">
                                    <p class="text-body">Darussalam, Banda Aceh</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="icon-item">
                                <div class="icon-item__img">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="icon-item__text">
                                    <p class="text-body"><a class="icon-item__link" href="tel:+44 (0) 2039 055 483">Phone<br>+12 (3) 4567 890 123</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="icon-item">
                                <div class="icon-item__img">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </div>
                                <div class="icon-item__text">
                                    <p class="text-body"><a class="icon-item__link" href="mailto:nurimasyithah@gmail.com">Email<br>nurimasyithah@gmail.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
 </main>
			
		<!-- footer start-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-logo"><a class="footer-logo__link" href="beranda"><img class="footer-logo__img" src="img/svg/logo.svg"/></a></div>
                        <!-- footer socials start-->
                        <ul class="footer-socials">
                            <li class="footer-socials__item"><a class="footer-socials__link" href="https://www.linkedin.com/in/nuri-masyithah-560663272/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li class="footer-socials__item"><a class="footer-socials__link" href="https://twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li class="footer-socials__item"><a class="footer-socials__link" href="https://facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        </ul>
                        <!-- footer socials end-->
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <h4 class="footer__title">Kontak</h4>
                        <div class="footer-contacts">
                            <p class="footer-contacts__address">
                            Darussalam,<br>Banda Aceh</p>
                            <p class="footer-contacts__phone">
                            Phone: <a href="tel:+1234567890123">+12 (3) 4567 890 123</a>
                            </p>
                            <p class="footer-contacts__mail">
                            <a href="mailto:nurimasyithah@gmail.com">nurimasyithah@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <h4 class="footer__title">Menu & Links</h4>
                        <!-- footer nav start-->
                        <nav>
                            <ul class="footer-menu">
                                <li class="footer-menu__item"><a class="footer-menu__link" <a href="/">Beranda</a>
                                <li class="footer-menu__item"><a class="footer-menu__link" href="mission">Plastik Hijau</a></li>
                                <li class="footer-menu__item"><a class="footer-menu__link" href="projects">Hitung Jejak Karbon</a></li>
                                <li class="footer-menu__item"><a class="footer-menu__link" href="news">Berita</a></li>
                                <li class="footer-menu__item"><a class="footer-menu__link" href="contact">Kontak</a></li>
                            </ul>
                        </nav>
                        <!-- footer nav end-->
                    </div>
                </div>
                <div class="row align-items-baseline">
                    <div class="col-md-6">
                        <p class="footer-copyright">© 2025 Plastic Green. All rights reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-privacy"><a class="footer-privacy__link" href="privacy-policy">Privacy Policy</a><span class="footer-privacy__divider">|</span><a class="footer-privacy__link" href="terms-conditions">Terms and Conditions</a></div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end-->
    </div>