<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="description"/>
    <meta name="keywords" content="keywords"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <title>Plastic Green Power - Research</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <!-- styles -->
    <link rel="stylesheet" href="css/styles.min.css"/>
    <!-- web-font loader -->
    <!-- Flipbook StyleSheet -->
    <link href="css/dflip.css" rel="stylesheet" type="text/css">
    <!-- Icons Stylesheet -->
    <link href="css/themify-icons.css" rel="stylesheet" type="text/css">
    <script>
        WebFontConfig = {
            google: {
                families: ['Hero:300,400,500,700', 'Permanent+Marker:400'],
            }
        }

        function font() {
            var wf = document.createElement('script')
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js'
            wf.type = 'text/javascript'
            wf.async = 'true'

            var s = document.getElementsByTagName('script')[0]
            s.parentNode.insertBefore(wf, s)
        }
        font()
    </script>
    <script type="text/javascript" src="https://downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script type="text/javascript">
        window.openMailchimpPopup = function() {
            window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us4.list-manage.com","uuid":"d7841a04ded611ef34b1a1b3c","lid":"94f690184e","uniqueMethods":true}) })
            document.cookie = 'MCPopupClosed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
            document.cookie = 'MCPopupSubscribed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
        }
    </script>
</head>
<body>
    <div class="page-wrapper">
        <!-- aside dropdown start-->
        <div class="aside-dropdown">
            <div class="aside-dropdown__inner">
                <span class="aside-dropdown__close">
                    <div class="icon-item__img">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                </span>
                <div class="aside-dropdown__item d-lg-none d-block">
                    <ul class="aside-menu">
                         <li class="aside-menu__item"><a class="aside-menu__link" <a href="/">Beranda</a>
                        <li class="aside-menu__item"><a class="aside-menu__link" href="mission.html"><span>PLASTIK HIJAU</span></a></li>
                        <li class="aside-menu__item"><a class="aside-menu__link" href="projects.html"><span>Hitung Jejak Karbon</span></a></li>
                        <li class="aside-menu__item"><a class="aside-menu__link" href="news.html"><span>Berita</span></a></li>
                        <li class="aside-menu__item"><a class="aside-menu__link" href="contact.html"><span>Kontak</span></a></li>
                    </ul>
                </div>
                <div class="aside-dropdown__item">
                    <div class="aside-inner"><span class="aside-inner__title">Address</span>
                        <p class="aside-inner__link">Darussalam , Banda Aceh</p>
                    </div>
                    <div class="aside-inner"><span class="aside-inner__title">Email</span>
                        <a class="aside-inner__link" href="mailto:nurimasyithah@gmail.com">nurimasyithah@gmail.com</a>
                    </div>
                    <div class="aside-inner"><span class="aside-inner__title">Phone</span>
                        <a class="aside-inner__link" href="tel:+44 (0) 2039 055 483">+12 (3) 4567 890 123</a>
                    </div>
                    <ul class="aside-socials">
                        <li class="aside-socials__item"><a class="aside-socials__link" href="https://linkedin.com/company/plgreenpower"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li class="aside-socials__item"><a class="aside-socials__link aside-socials__link--active" href="https://twitter.com/plgreenpower"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li class="aside-socials__item"><a class="aside-socials__link" href="https://facebook.com/plgreenpower"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- aside dropdown end-->

        <!-- header start-->
        <header class="header header--front">
            <div class="container-fluid">
                <div class="row no-gutters justify-content-between">
                    <div class="col-auto d-flex align-items-center">
                        <div class="dropdown-trigger d-none">
                            <div class="dropdown-trigger__item"></div>
                        </div>
                        <div class="header-logo"><a class="header-logo__link" href="index.html"><img class="header-logo__img" src="img/svg/logo.svg"/></a></div>
                    </div>
                    <div class="col-auto">
                        <!-- main menu start-->
                        <nav>
                            <ul class="main-menu">
                                <li class="main-menu__item main-menu__item--active"><a class="main-menu__link" href="/">Beranda</a>
                                <li class="main-menu__item"><a class="main-menu__link" href="mission.html"><span>PLASTIK HIJAU</span></a></li>
                                <li class="main-menu__item"><a class="main-menu__link" href="projects.html"><span>Hitung Jejak Karbon</span></a></li>
                                <li class="main-menu__item"><a class="main-menu__link" href="news.html"><span>Berita</span></a></li>
                                <li class="main-menu__item"><a class="main-menu__link" href="contact.html"><span>Kontak</span></a></li>
                            </ul>
                        </nav>
                        <!-- main menu end-->
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <div class="dropdown-trigger d-block d-xs-none">
                            <div class="dropdown-trigger__item"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header end-->

        <main class="main">
            <section class="promo">
                <div class="promo-slider">
                    <div class="promo-slider__item promo-slider__item--style-1">
                        <video playsinline autoplay loop muted class="wrapper__video">
                            <source class="img--bg" src="video/turtle-hd.mp4">
                        </video>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="align-container">
                                        <div style="padding-top:30px">
                                            <div class="promo-slider__wrapper-1">
                                                <h2 class="promo-slider__title"><span>Teknologi berkelanjutan untuk mengurangi sampah plastik</span></h2>
                                            </div>
                                            <div class="promo-slider__wrapper-2">
                                                <p class="promo-slider__subtitle">Solusi rendah karbon untuk daur ulang plastik & energi ramah lingkungan</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="promo-pannel">
                    <div class="promo-pannel__phones">
                        <p class="promo-pannel__title">Phone</p><a class="promo-pannel__link" href="tel:++12 (3) 4567 890 123">+12 (3) 4567 890 123</a>
                    </div>
                    <div class="promo-pannel__email">
                        <p class="promo-pannel__title">Email</p><a class="promo-pannel__link" href="mailto:nurimasyithah@gmail.com">nurimasyithah@gmail.com</a>
                    </div>
                    <div class="promo-pannel__socials">
                        <p class="promo-pannel__title">Socials</p>
                        <ul class="promo-socials">
                            <li class="promo-socials__item"><a class="promo-socials__link" href="https://www.linkedin.com/in/nuri-masyithah-560663272/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li class="promo-socials__item"><a class="promo-socials__link" href="https://twitter.com/twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li class="promo-socials__item"><a class="promo-socials__link" href="https://facebook.com/facebook/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="slider__nav slider__nav--promo">
                    <div class="slider__arrows">
                        <div class="slider__prev"><i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>
                        <div class="slider__next"><i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </section>

            <!-- about us start-->
            <section class="section about-us" id="about">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 mb-5">
                            <div class="heading heading--primary">
                                <h2 class="heading__title green-gradient-color"><span>Masa Depan Bebas Karbon</span></h2>
                            </div>
                            <div>
                                <p>Plastic Green adalah platform digital yang mengajak masyarakat Indonesia untuk peduli terhadap lingkungan dengan cara yang mudah, seru, dan berdampak.</p>

                                <p>Kami hadir untuk mengatasi masalah sampah plastik sekaligus membantu pengguna memahami dan mengurangi jejak karbon pribadi mereka.</p>

                                <p>Melalui fitur interaktif seperti kalkulator karbon, hingga tutorial kreatif daur ulang, Plasti Green menjadikan aksi hijau lebih dekat dan menyenangkan.
                                Bersama Anda, kita bisa ubah sampah plastik jadi peluang, dan ciptakan masa depan yang lebih bersih dan berkelanjutan.</p>

                            </div>
                            <a class="button button--primary"  href="projects.html">Hitung Jejak Karbonmu</a>
                        </div>
                        <div class="col-lg-6 col-xl-5 offset-xl-1">
                            <div class="img-box__img"><img class="img--bg" src="img/about-us.png" alt="img"/></div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Rest of your content would follow the same pattern -->
            
        </main>
        
        <!-- footer start-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-logo"><a class="footer-logo__link" href="index.html"><img class="footer-logo__img" src="img/svg/logo.svg"/></a></div>
                        <!-- footer socials start-->
                        <ul class="footer-socials">
                            <li class="footer-socials__item"><a class="footer-socials__link" href="https://www.linkedin.com/in/nuri-masyithah-560663272/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li class="footer-socials__item"><a class="footer-socials__link" href="https://twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li class="footer-socials__item"><a class="footer-socials__link" href="https://facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        </ul>
                        <!-- footer socials end-->
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <h4 class="footer__title">Kontak</h4>
                        <div class="footer-contacts">
                            <p class="footer-contacts__address">
                            Darussalam,<br>Banda Aceh</p>
                            <p class="footer-contacts__phone">
                            Phone: <a href="tel:+1234567890123">+12 (3) 4567 890 123</a>
                            </p>
                            <p class="footer-contacts__mail">
                            <a href="mailto:nurimasyithah@gmail.com">nurimasyithah@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <h4 class="footer__title">Menu & Links</h4>
                        <!-- footer nav start-->
                        <nav>
                            <ul class="footer-menu">
                                <li class="footer-menu__item"><a class="footer-menu__link" <a href="/">Beranda</a>
                                <li class="footer-menu__item"><a class="footer-menu__link" href="mission.html">Plastik Hijau</a></li>
                                <li class="footer-menu__item"><a class="footer-menu__link" href="projects.html">Hitung Jejak Karbon</a></li>
                                <li class="footer-menu__item"><a class="footer-menu__link" href="news.html">Berita</a></li>
                                <li class="footer-menu__item"><a class="footer-menu__link" href="contact.html">Kontak</a></li>
                            </ul>
                        </nav>
                        <!-- footer nav end-->
                    </div>

                </div>
                <div class="row align-items-baseline">
                    <div class="col-md-6">
                        <p class="footer-copyright">© 2025 Plastic Green. All rights reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-privacy"><a class="footer-privacy__link" href="privacy-policy.html">Privacy Policy</a><span class="footer-privacy__divider">|</span><a class="footer-privacy__link" href="terms-conditions.html">Terms and Conditions</a></div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end-->
    </div>
    <!-- libs-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/libs.min.js"></script>

    <!-- Flipbook main Js file -->
    <script src="js/dflip.min.js" type="text/javascript"></script>
    <!-- scripts-->

    <script src="js/common.min.js"></script>
    <script src="js/front.min.js"></script>
    
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0"></script>
</body>
</html>